@model Lunch.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstChoice.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstChoice.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondChoice.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondChoice.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
