@model Lunch.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodChoice.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodChoice.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
