@model IEnumerable<Lunch.Models.Booking>

@{
    ViewBag.Title = "Mybookings";
}

<h2>Mybookings</h2>

<p>
    @Html.ActionLink("Book Now", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodChoice.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodChoice.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomMessage)
        </td>
            @if (item.Date.Day < DateTime.Now.Day)
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
    </tr>
}

</table>
